################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/aspcore5jwt/.vs/aspcore5jwt/v16
/aspcore5jwt/aspcore5jwt/obj
